.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out forwards;
  opacity: 0;
}

.fade-in-down {
  animation: fadeInDown 0.5s ease-in-out forwards;
  opacity: 0;
}

.fade-in-after {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
