.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1.5deg);
  }
  20% {
    transform: rotate(1.5deg);
  }
  30% {
    transform: rotate(-1.5deg);
  }
  40% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(-1.5deg);
  }
  60% {
    transform: rotate(1.5deg);
  }
  70% {
    transform: rotate(-1.5deg);
  }
  80% {
    transform: rotate(1.5deg);
  }
  90% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake:hover {
  animation: shake 1.5s;
}

.header-button {
  background-color: #343a40;
  border-radius: 20px;
  border: 2px solid #343a40;
  color: rgb(221, 221, 221) !important;
  text-decoration: none !important;
  font-weight: bold !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px 15px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.header-button:hover {
  background-color: #61856f;
  border: 2px solid rgb(221, 221, 221);
}
