.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1.5deg);
  }
  20% {
    transform: rotate(1.5deg);
  }
  30% {
    transform: rotate(-1.5deg);
  }
  40% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(-1.5deg);
  }
  60% {
    transform: rotate(1.5deg);
  }
  70% {
    transform: rotate(-1.5deg);
  }
  80% {
    transform: rotate(1.5deg);
  }
  90% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake:hover {
  animation: shake 1.5s;
}
