.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.not-found-text {
  font-size: 2em;
  color: white; /* Text is white */
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-object {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
